
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 412px) {
    @content;
  }
}
//임의로 추가한 것 (수진)

@mixin move-btn-style($bg:var(--color-bg)) {
  color: var(--color-btn);
  background-color: $bg;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  font-size: $font-basic;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: var(--color-btn-hover);
    border-color: var(--color-btn-hover);
  }
}

